<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f42a2c3e-b6dd-4e38-a347-678d16a6bc2a" Version="1.0.0.0" Publisher="CN=pberton" />
  <Properties>
    <DisplayName>Indicadores de Chile</DisplayName>
    <PublisherDisplayName>pberton</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Indicadores Económicos" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Indicadores Económicos de Latinoamérica - Chile" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>